.algorithmConfig {
  width: 88px;
  height: 32px;
  color: #363740;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #dddddf;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.e_table {
  width: auto;

  .ant-table-tbody {
    display: none !important;
  }
}
.e_node {
  padding-top: 120px;
  .text {
    padding: 0;
    padding-top: 12px;
    padding-bottom: 16px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}
.searchItem {
  width: 100%;

  padding: 12px;
  .tool {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  .input {
    width: 100%;
  }
  .text {
    width: 100%;
    padding: 6px 0;
    color: #98989d;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
  }
}

.txt {
  color: #363740;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.tip {
  color: #98989d;
  font-weight: 400;
  font-size: 12px;
  .lTxt {
    color: #98989d;
    font-weight: 400;
    font-size: 12px;
    &:hover {
      color: #1650ff;
    }
    &:hover .tIc {
      color: #1650ff;
    }
  }
  &:hover .lText {
    color: #1650ff;
  }
}
.tIc {
  color: #98989d;
  font-weight: 400;
  font-size: 12px;
  &:hover {
    color: #1650ff;
  }
}

.alItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  .alTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    .mT {
      padding-right: 8px;
      color: #363740;
      font-weight: 400;
      font-size: 14px;
    }
    .sT {
      color: #98989d;
      font-weight: 400;
      font-size: 14px;
    }
  }
}
.tName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .tLabel {
    padding-right: 340px;
    color: #363740;
    font-weight: 400;
    font-size: 14px;
  }
}

.activePage {
  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 40px;
    .link {
      position: relative;
      padding-right: 12px;
      color: #98989d;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      cursor: pointer;
      &::after {
        position: relative;
        width: fit-content;
        padding-left: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        content: '/';
      }
    }
    .normal {
      color: #363740;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }
  }
  .content {
    .detailTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .activePageCollapse {
      width: auto;
      background-color: #fff;
      border-radius: 8px;
      .ant-collapse-item {
        margin-bottom: 16px;
        background-color: #fbfbfb;
        border: none;
        border-radius: 8px;
      }
      .ant-collapse-header-text {
        color: rgba(26, 27, 37, 0.88);
        font-weight: 500;
        font-size: 14px;
      }
      .ant-table-thead > tr > th {
        color: #363740;
        font-weight: 500;
        font-size: 14px;
        background-color: #ffffff;
        border-radius: 8px 8px 0 0;
      }
      .ant-table-cell {
        background-color: #fff;
      }
      .ant-table-cell-row-hover {
        background-color: rgba(22, 80, 255, 0.06);
      }
      .ant-table-row {
        &:hover {
          background-color: rgba(22, 80, 255, 0.06);
        }
      }
    }
    .activePageDescription {
      box-sizing: border-box;
      width: 1156px;
      height: auto;
      min-height: 224px;
      padding: 16px;

      .ant-descriptions-item-label {
        color: rgba(0, 0, 0, 0.85);
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      }
      .ant-descriptions-item-content {
        color: rgba(0, 0, 0, 0.65);
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
