.statictics-filter-container {
  .statictics-filter-container-form {
    padding: 8px;
    height: calc(100vh - 245px);
    overflow: auto;
  }
  .statictics-button-group {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    justify-content: flex-end;
    .ant-btn {
      width: 80px;
    }
  }
}

.conditionIcon::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
