.tugraph-label-icon-radioItem {
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .ant-radio-wrapper {
    width: 24px;
    height: 24px;
    margin-right: 23px;
    border-radius: 2px;
    .ant-radio {
      visibility: hidden;
    }
  }
  .ant-radio-wrapper-checked::after {
    position: absolute;
    top: 0;
    left: 6px;
    width: 100%;
    height: 100%;
    color: white;
    content: '√';
  }
}

.addLabelTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.addLabelNode {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .addLabelNodeNameList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    .addLabelNodeName {
      font-size: 14px;
      color: #363740;
      margin-bottom: 12px;
      margin-right: 12px;
      &::before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #4089ff;
        margin-right: 4px;
        display: inline-block;
      }
    }
  }

  .addLabelNodeList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 12px;
    background-color: rgba(216, 216, 216, 0.2);
    .addLabelNodeAdd {
      display: flex;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      align-items: center;
      background-color: rgb(230, 236, 246);
      cursor: pointer;
      .addLabelNodeAddIcon {
        display: block;
        width: 16px;
        height: 16px;
      }
    }
  }
}

.labelNode {
  height: 30px;
  padding: 0px 4px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  margin-right: 3px;
  margin-bottom: 12px;
  align-items: center;
  background-color: rgb(230, 236, 248);
  cursor: pointer;
  &:hover {
    background-color: rgb(228, 232, 242);
    box-shadow: 0 2px 8px #f0f1f2;
  }
  .labelNodeContent {
    background-color: #f4664a;
    color: #fff;
    border-radius: 12px;
    padding: 2px 6px;
    font-size: 12px;
    margin-right: 6px;
  }
  .labelNodeContentIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    display: block;
    cursor: pointer;
  }
}

.labelNodeSelected {
  height: 30px;
  padding: 0px 4px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  margin-right: 3px;
  margin-bottom: 12px;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 8px #f0f1f2;
  &:hover {
    background-color: rgb(228, 233, 240);
  }
  .labelNodeContent {
    background-color: #f4664a;
    color: #fff;
    border-radius: 12px;
    padding: 2px 6px;
    font-size: 12px;
    margin-right: 6px;
  }
  .labelNodeContentIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    display: block;
    cursor: pointer;
  }
}

.labelNodeHistoryEdit {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  .labelNodeHistoryEditContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .labelNodeHistoryInput {
      width: 208px;
    }
  }
  .labelNodeHistoryList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 12px;
    .labelNodeHistoryListItem {
      background-color: #e6edf8;
      padding: 4px 12px;
      height: 24px;
      font-size: 12px;
      text-align: center;
      margin-right: 6px;
      border-radius: 16px;
    }
  }
}

.cancelEdit {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 12px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.confirmEdit {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.iconNode {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  & .labelIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}
