.style-setting-container {
  position: relative;
  height: calc(100vh - 150px);
  background-color: #f3f5f9;
  .container-element {
    width: 50%;
    text-align: center;
    background: #eaeff9;
    border-color: #eaeff9;
  }
  .ant-segmented {
    padding: 4px;
    background: #eaeff9;
    width: 100%;
  }
  .ant-segmented:not(.ant-segmented-disabled):hover,
  .ant-segmented:not(.ant-segmented-disabled):focus {
    background: #eaeff9;
  }
  .ant-segmented-item {
    width: 100%;
  }
}

.style-setting-element-container {
  .nodeConfigurationContainer,
  .edgeConfigurationContainer {
    position: relative;
    height: calc(100vh - 300px);
    margin-top: 8px;
    padding: 8px;
    overflow: auto;
    .custom-ant-radio-wrapper {
      width: 25px;
      height: 25px;
      margin-right: 8px;
      margin-bottom: 8px;
      background: #FAFBFE;
      border-radius: 2px;
      .ant-radio {
        visibility: hidden;
      }
    }
    .custom-ant-radio-wrapper.ant-radio-wrapper-checked {
      outline: 8px auto #fff;
      box-shadow: 2px 2px 8px 2px rgba(89,113,185,0.24);
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      width: 0px;
    }
    .ant-slider-rail {
      background-color: #d9d9d9;
    }
    .colorItem {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      padding: 1px;
    }
    .colorPickerContainer {
      position: absolute;
      right: 8px;
      bottom: 32px;
      z-index: 2;
      background: #fff;
    }
    .preElement {
      display: inline-block;
      height: 32px;
      padding: 0 8px;
      line-height: 32px;
      background: #d9d9d9;
    }
    .site-collapse-custom-panel {
      .ant-collapse-header {
        padding: 0px !important;
        margin-bottom: 16px;
      }
      .ant-collapse-content > .ant-collapse-content-box {
        padding: 4px;
      }
    }
    .choose-shape-type {
      .ant-radio-button-wrapper {
        width: 32px;
        padding-left: 0px;
        color: #fafafa !important;
        border-radius: 50% !important;
      }
    }
    .color {
      display: flex;
    }
  
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      color: #96969b;
      background: #fff;
      box-shadow: 2px 2px 8px 2px rgba(89,113,185,0.24);
      outline: 8px auto #fff;
    }
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
      color: #96969b;
      background: #fff;
    }

    .ant-checkbox-wrapper-checked {
      color: #96969b;
      background: #fff;
      box-shadow: 2px 2px 8px 2px rgba(89,113,185,0.24);
      outline: 8px auto #fff;
    }

    .property-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
      .ant-collapse-extra,
      .anticon-delete {
        color: #000a1a;
        opacity: 45%;
        margin-left: 8px;
      }
    }
  }
  .btn-group {
    position: absolute;
    bottom: 16px;
    right: 8px;
    .ant-btn {
      width: 80px;
    }
  }
}

.color-input {
  .custom-color-btn {
    width: 25px;
    height: 25px;
    text-align: center;
    background: #f6f8fc;
    border-radius: 4px;
    border: 1px solid #dfdfe2;
    color: #b3b3b9;
    line-height: 17px;
    cursor: pointer;
    margin-top: -8px;
  }
}

.custom-icon-container {
  display: inline-block;
}

.custom-ant-radio-wrapper {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  background: #f5f8fc;
  border-radius: 2px;
  .ant-radio {
    visibility: hidden;
  }
}
.custom-ant-radio-wrapper.ant-radio-wrapper-checked {
  outline: 8px auto #fff;
  box-shadow: 2px 2px 8px 2px rgba(89,113,185,0.24);
}

.popover-icon-container {
  width: 316px;
  .ant-radio-button-wrapper:not(:first-child)::before {
    width: 0px !important;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #96969b;
    background: #fff;
    box-shadow: 2px 2px 8px 2px rgba(89,113,185,0.24);
    outline: 8px auto #fff;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #96969b;
    background: #fff;
  }
  .custom-ant-radio-wrapper {
    width: 25px;
    height: 25px;
    margin: 8px;
    border-radius: 2px;
    background: #fff;
    .ant-radio {
      visibility: hidden;
    }
  }
  .custom-ant-radio-wrapper.ant-radio-wrapper-checked {
    outline: 8px auto #fff;
    box-shadow: 2px 2px 8px 2px rgba(89,113,185,0.24);
  }

  .custom-icon-btn {
    margin: 8px;
    border-radius: 2px;
    .ant-radio {
      visibility: hidden;
    }
  }
  .ant-tabs-tabpane {
    padding-left: 16px !important;
  }
}

.icon-input-popover-container {
  .ant-popover-inner-content {
    padding: 16px 0;
  }
}