.style-setting-container {
  padding: 16px;
  .container-element {
    width: 50%;
    text-align: center;
    background: #eaeff9;
    border-color: #eaeff9;
  }
  .ant-segmented {
    padding: 4px;
    background: #eaeff9;
    width: 100%;
  }
  .ant-segmented:not(.ant-segmented-disabled):hover,
  .ant-segmented:not(.ant-segmented-disabled):focus {
    background: #eaeff9;
  }
  .ant-segmented-item {
    width: 100%;
  }
}

.nodeConfigurationContainer,
.edgeConfigurationContainer {
  position: relative;
  height: calc(100vh - 260px);
  margin-top: 16px;
  padding: 8px;
  overflow: auto;
  background: #f5f7fb;
  .custom-ant-radio-wrapper {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    margin-bottom: 4px;
    background: #f5f8fc;
    border-radius: 2px;
    .ant-radio {
      visibility: hidden;
    }
  }
  .custom-ant-radio-wrapper.ant-radio-wrapper-checked {
    outline: 8px auto #fff;
    box-shadow: 2px 2px 15px 2px #bfbfbf;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    width: 0px;
  }
  .ant-slider-rail {
    background-color: #d9d9d9;
  }
  .colorItem {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    padding: 1px;
  }
  .colorPickerContainer {
    position: absolute;
    right: 8px;
    bottom: 32px;
    z-index: 2;
    background: #fff;
  }
  .preElement {
    display: inline-block;
    height: 32px;
    padding: 0 8px;
    line-height: 32px;
    background: #d9d9d9;
  }
  .site-collapse-custom-panel {
    .ant-collapse-header {
      padding: 0px !important;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 4px;
    }
  }
  .btn-group {
    position: relative;
    margin-top: 16px;
    text-align: right;
    .ant-btn {
      width: 80px;
    }
  }
  .choose-shape-type {
    .ant-radio-button-wrapper {
      width: 32px;
      padding-left: 0px;
      color: #fafafa !important;
      border-radius: 50% !important;
    }
  }
  .color {
    display: flex;
  }

  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #96969b;
    background: rgb(223 227 239);
    border-color: rgb(223 227 239);
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #96969b;
    background: rgb(223 227 239);
    border-color: rgb(223 227 239);
  }
}

.color-input {
  .custom-color-btn {
    width: 25px;
    height: 25px;
    text-align: center;
    background: #f6f8fc;
    border-radius: 4px;
    border: 1px solid #dfdfe2;
    color: #b3b3b9;
    line-height: 17px;
    cursor: pointer;
    margin-top: -2px;
  }
}
.custom-ant-radio-wrapper {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  background: #f5f8fc;
  border-radius: 2px;
  .ant-radio {
    visibility: hidden;
  }
}
.custom-ant-radio-wrapper.ant-radio-wrapper-checked {
  outline: 8px auto #fff;
  box-shadow: 2px 2px 15px 2px #bfbfbf;
}
