.style-setting-container {
  position: relative;
  height: 100%;
  padding: 16px;
  background-color: #f3f5f9;
  .appearanceStyle {
    color: #363740;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
  .container-element {
    width: 50%;
    text-align: center;
    background: #eaeff9;
    border-color: #eaeff9;
  }
  .ant-segmented {
    width: 100%;
    background: #eaeff9;
  }
  .ant-segmented:not(.ant-segmented-disabled):hover,
  .ant-segmented:not(.ant-segmented-disabled):focus {
    background: #eaeff9;
  }
  .ant-segmented-item {
    width: 100%;
  }
}

.style-setting-element-container {
  .nodeConfigurationContainer,
  .edgeConfigurationContainer {
    position: relative;
    height: calc(100vh - 280px);
    margin-top: 16px;
    padding: 0 8px;
    overflow: auto;
    .custom-ant-radio-wrapper {
      width: 25px;
      height: 25px;
      margin-right: 8px;
      margin-bottom: 4px;
      background: #f5f8fc;
      border-radius: 2px;
      .ant-radio {
        visibility: hidden;
      }
    }

    .custom-ant-radio-wrapper.ant-radio-wrapper-checked {
      position: relative;
      background: #fff;
      outline: 8px auto #fff;
      box-shadow: 2px 2px 2px 2px #ccc;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      width: 0px;
    }
    .ant-slider-rail {
      background-color: #d9d9d9;
    }
    .colorItem {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      padding: 1px;
    }
    .colorPickerContainer {
      position: absolute;
      right: 8px;
      bottom: 32px;
      z-index: 2;
      background: #fff;
    }
    .preElement {
      display: inline-block;
      height: 32px;
      padding: 0 8px;
      line-height: 32px;
      background: #d9d9d9;
    }
    .site-collapse-custom-panel {
      .ant-collapse-header {
        padding: 0px !important;
      }
      .ant-collapse-content > .ant-collapse-content-box {
        padding: 4px;
      }
    }
    .choose-shape-type {
      .ant-radio-button-wrapper {
        width: 32px;
        padding-left: 0px;
        color: #fafafa !important;
        border-radius: 50% !important;
      }
    }
    .color {
      display: flex;
    }

    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      color: #96969b;
      background: rgb(223 227 239);
      border-color: rgb(223 227 239);
    }
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
      color: #96969b;
      background: rgb(223 227 239);
      border-color: rgb(223 227 239);
    }
  }
  .btn-group {
    position: absolute;
    right: 16px;
    bottom: 16px;
    .ant-btn {
      width: 80px;
    }
  }
}

.color-input {
  .custom-color-btn {
    width: 25px;
    height: 25px;
    margin-top: -2px;
    color: #b3b3b9;
    line-height: 17px;
    text-align: center;
    background: #f6f8fc;
    border: 1px solid #dfdfe2;
    border-radius: 4px;
    cursor: pointer;
  }
}

.custom-ant-radio-wrapper {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  background: #f5f8fc;
  border-radius: 2px;
  .ant-radio {
    visibility: hidden;
  }
}
.custom-ant-radio-wrapper.ant-radio-wrapper-checked {
  background: #fff;
  outline: 8px auto #fff;
  box-shadow: 2px 2px 2px 2px #ccc;
}

.popover-icon-container {
  width: 340px;
  padding: 0;
  .ant-radio-button-wrapper:not(:first-child)::before {
    width: 0px !important;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #96969b;
    background: rgb(223 227 239);
    border-color: rgb(223 227 239);
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #96969b;
    background: rgb(223 227 239);
    border-color: rgb(223 227 239);
  }
  .custom-ant-radio-wrapper {
    margin: 8px;
    border-radius: 2px;
    .ant-radio {
      visibility: hidden;
    }
  }
  .custom-icon-btn {
    margin: 8px;
    border-radius: 2px;
    .ant-radio {
      visibility: hidden;
    }
  }
  .custom-ant-radio-wrapper.ant-radio-wrapper-checked {
    background: #fff;
    outline: 8px auto #fff;
    box-shadow: 2px 2px 2px 2px #ccc;
  }
}
